$grid-gap: 1rem;
$min-column-width: 250px;

ol {
  list-style-type: decimal;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min-column-width, 1fr));
  gap: $grid-gap;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 80%;
  margin: auto;
}

.podList {
  margin-top: 150px;
}
