@import "../../../../config/Mixins.scss";

img {
  position: absolute;
  transform: translateY(-50%) scale(1.15);
  margin: auto;
  top: 0px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  box-shadow: 0px -3px 4px 1px #0000000f;
}

.card {
  @include card;
  cursor: pointer;

  position: relative;
  padding-top: 60px;
  margin-bottom: 80px;
  justify-content: space-between;
  p:last-of-type {
    color: gray;
  }
  &:hover {
    animation: bounce 0.3s ease-in-out;
  }

  &.ghost {
    animation: vanish 0.3s forwards;
  }
}

p {
  margin: 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  max-height: 70px;
  &:first-of-type {
    margin-bottom: 10px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    box-shadow: 0px 0px 10px 0px #0000003b;
  }
  50% {
    transform: translateY(-5px);
    box-shadow: 0px 10px 8px 0px #0000003b;
  }
  100% {
    transform: translateY(0);
    box-shadow: 0px 0px 10px 0px #0000003b;
  }
}

@keyframes vanish {
  0% {
    transform: scale(1);
  }

  99% {
    transform: scale(0);
  }
  100% {
    display: none;
  }
}
